@media (max-width: 320px) {

    .common-container {
        max-width: 320px;
    }

    .ml-none {
        display: none;
    }

    .common-container {
        max-width: 320px;
    }

    .section {
        padding: 15px;
    }

    /*HOME PAGE*/

    /*Header*/

    .mobile-header {
        position: relative;
    }

    .navbar-brand {
        margin: 0 auto;
    }

    .logo_img {
        width: 53px;
        height: 55px;
        padding: 0;
        margin: 0 auto;
    }

    .burger {
        display: flex;
        flex-direction: column;
        align-self: center;
        position: absolute;
        top: 20px;
        left: 0;
        padding-left: 20px;
    }

    .burger>span {
        background-color: #262a32;
        width: 19px;
        height: 2px;
        margin: 3px;
    }

    .burger-menu {
        position: absolute;
        width: 100%;
        height: calc(82vh);
        background-color: #262a32;
        color: #ffffff;
        top: 65px;
        left: -9999px;
        transition: left .3s;
        z-index: 20;
        padding: 0 10px 25px;
        overflow-y: scroll;
    }

    .dropdown-img {
        width: 75%;
        margin-top: 30px;
    }

    /*First Section Carousel*/

    .section-1_carousel-slider {
        width: 100%;
    }

    .carousel {
        width: 100%;
    }

    .carousel-indicators {
        bottom: 15px;
    }

    .carousel-indicators li {
        margin: 5px;
    }

    .carousel-img-layer {
        padding: 30px 20px;
        justify-content: flex-start;
    }

    .carousel_h5 {
        font-size: 22px;
        line-height: 28px;
        width: 100%;
    }

    .carousel_p {
        font-size: 14px;
        line-height: 18px;
        padding: 60px 0;
        width: 100%;
    }

    /*Second Section Carousel*/

    .popular-items_h2 {
        font-size: 20px;
        padding: 0 15px;
    }

    .popular-item_inner-content {
        height: 380px;
        margin: 0 10px;
    }

    .product-img {
        height: 76%;
    }

    .popular-item-name {
        font-size: 16px;
        line-height: 18px;
        padding: 15px;
    }

    .popular-item-name h6 {
        padding: 5px 15px;
    }

    .popular-product-item {
        width: 100%;
    }

    .price {
        font-size: 16px;
        padding: 10px 0;
    }

    /*Third Section Banner*/

    .banner {
        background-size: 190%;
        background-position: 75% 50%;
        height: 175px;
        justify-content: start;
        padding: 25px 15px;
    }

    .banner-h1 {
        font-size: 25px;
    }

    .banner-span {
        font-size: 13px;
        width: 100%;
    }

    /*Fourth Section Services*/

    .services-wrapper {
        flex-direction: column;
    }

    .services-item {
        width: 100%;
        justify-content: space-evenly;
    }

    .flex-basis {
        flex-basis: 50%;
    }

    .ordered {
        order: 1;
    }

    /*Footer*/

    .mobile-footer {
        margin-bottom: 55px;
    }

    /*Mobile Navigation*/

    .mobile-nav {
        width: 100%;
        background-color: #262a32;
        border-top: 1px solid #ffffff;
        position: fixed;
        bottom: 0;
        z-index: 20;
    }

    .dark_indicator {
        background-color: #262a32;
        top: 10px;
    }

    /*Collapser*/

    .collapsed-title {
        padding: 5px 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .collapsed-content {
        padding: 5px 15px;
        transition: 0.3s;
    }

    .open .collapsed-arrow {
        transform: rotate(180deg);
        transition: transform 0.3s;
    }

    .open>.collapsed-content {
        display: block;
    }

    .closed .collapsed-arrow {
        transform: rotate(0);
        transition: transform 0.3s;
    }

    .closed>.collapsed-content {
        display: none;
    }

    /*Copyright*/

    .info_copyright {
        width: 100%;
        font-size: 14px;
        font-weight: 500;
        padding: 10px 15px;
    }

    .info_p, .info_mailto, .info_callto {
        font-size: 15px;
    }

    /*CATEGORY LANDING PAGE*/

    .middle-part {
        padding: 0 5px;
    }

    .breadcrumb {
        margin: 15px 0 0;
    }

    .details-header, .categories-header {
        font-size: 30px;
    }

    .details-header-wrapper, .categories-header-wrapper {
        top: -17px;
    }

    .details-header, .categories-header {
        padding: 0 25px;
    }

    .categories-wrapper {
        width: 90%;
    }

    .categories {
        width: 100%;
        margin: 3px 0;
        padding: 10px 15px;
        justify-content: space-between;
    }

    .label {
        padding: 0;
        margin-right: 10px;
    }

    .selection {
        max-width: 185px;
        font-size: 14px;
    }

    .color {
        width: 13px;
        height: 13px;
    }

    .color.active {
        width: 15px;
        height: 15px;
    }

    .categories_load-more {
        margin: 5px 25px 25px;
    }

    /*PRODUCT DETAILS PAGE*/

    .details_popular-items-h2 {
        font-size: 18px;
        padding: 0 15px;
    }

    .details_popular-items-h2-wrapper {
        top: -10px;
    }

    .details-container {
        display: flex;
        flex-direction: column;
        border-radius: 8px;
        width: 90%;
        margin: 10px auto;
    }

    .details-preview-container {
        flex-direction: column;
    }

    .product-details {
        padding: 10px 20px;
    }

    .product-info {
        flex-direction: column;
        max-width: 100%;
        padding: 10px;
    }

    .details-preview {
        width: 100%;
        padding: 15px;
    }

    .details-preview-imgs {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 0;
    }

    .details-preview_small {
        width: 75px;
        height: 75px;
        margin: 0 5px;
    }

    .details-price {
        font-size: 30px;
    }

    .product-controls {
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
    }

    .numOf {
        margin: 0 0 20px;
    }

    .product-details-p {
        padding: 15px 0 0;
    }

    .btn_read-more {
        margin: 5px 0 15px;
    }

    .details-page li {
        background-color: #262a32;
    }

    /*NOT FOUND PAGE*/

    .container-404 {
        width: 100%;
        flex-direction: column;
        align-items: center;

    }

    .left-side {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 35px;
    }

    .not-found_title {
        font-size: 70px;
    }

    .right-side {
        width: 100%;
        padding: 35px;
    }

    .not-found_h2 {
        font-size: 20px;
    }

    .search {
        right: 45px;
        bottom: 40px;
    }
}