.middle-part {
    background-color: #f1edea;
    padding: 40px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.breadcrumb {
    background-color: #f1edea;
    margin: 0;
}

.breadcrumb-item {
    color: #84bc22;
    font-size: 13px;
    font-weight: 400;
}

.line {
    border-bottom: 2px solid #e5e2df;
}

.header-404 {
    background-color: #f1edea;
    color: #45413e;
    font-size: 48px;
    font-weight: 900;
    position: relative;
}

.header-404:before,
.header-404:after {
    content: '';
    height: 2px;
    background-color: #e5e2df;
    display: block;
    position: absolute;
    top: 50%;
    width: 30vw;
}

.header-404:before {
    left: -33.5vw;
}

.header-404:after {
    right: -33.5vw;
}

.container-404-img {

}

.left-side {

}

.right-side {
    position: relative;
}

.not-found_title {
    color: #84bc22;
    font-size: 113px;
    font-weight: 900;
    line-height: 60px;
}

.not-found_p {
    font-size: 14px;
    line-height: 23px;
    font-weight: 500;
    color: #555555;
}

.search_input {
    width: 430px;
    height: 36px;
    border: 2px solid #e8e2d6;
    border-radius: 25px;
    background-color: #ffffff;
    padding-left: 15px;
}

.search {
    position: absolute;
    right: 15px;
    bottom: 3px;
    border: none;
    background-color: #ffffff;
}

.background-404 {
    background-repeat: no-repeat;
    background-image: url(../../static/images/404/Exclamation_Mark.png);
    background-position: -8% 60%;
    background-color: #ffffff;
    padding: 70px;
    border-radius: 8px;
}

.h2 {
    color: #000000;
    font-size: 24px;
    font-weight: 900;
}

.mb-40 {
    margin-bottom: 40px;
}

p {
    color: #555555;
    font-size: 16px;
    font-weight: 400;
}