.dark-background {
    background-color: #262a32;
}

.grey_background {
    background-color: #45413e;
}

.white-background {
    background-color: #ffffff;
    padding: 0;
}

.mt-50 {
    margin-top: 50px;
}