.dark-background {
    background-color: #262a32;
}

.grey_background {
    background-color: #45413e;
}

.white-background {
    background-color: #ffffff;
    padding: 0;
}

.mt-50 {
    margin-top: 50px;
}

header {
    background-color: #ffffff;
    z-index: 1;
}

.sticky {
     position: fixed;
     top: 0;
     width: 100%;
 }

.btn {
    padding: 5px;
}

