body {
    font-family: 'Lato', sans-serif !important;
    font-weight: 400;
    color: #45413e;
}

.common-container-fluid {
    padding: 0 !important;
}

.section {
    padding: 30px;
    margin: 0 auto;
}

.align {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* LOGO */
.navbar-brand {
    margin: 5px;
}

.logo_img {
    padding: 5px;
    width: 63px;
    height: 65px;
}

.logo_text {
    max-height: 65px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.logo_text-osf {
    color: #011847;
    font-size: 32px;
    font-weight: 900;
    line-height: 32px;
    text-transform: uppercase;
    letter-spacing: 6.33px;
}

.logo_text-academy {
    color: #84bc22;
    font-size: 18px;
    line-height: 17px;
}

/* NAVIGATION */

.sticky {
    position: fixed;
    top: 0;
    left: 34px;
    width: 100%;
}

.desktop-header {
    background-color: #ffffff;
    z-index: 20;
    margin: 0 auto;
    padding: 0 30px;
}

.navbar {
    padding: 0;
}

.nav-item {
    font-size: 14px;
    text-transform: uppercase;
    padding: 10px;
}

.btn-menu {
    display: flex;
}

.nav-item-active, .dropdown:hover {
     background-color: #262a32;
     color: #ffffff;
    position: relative;
 }

.nav-item-active, .dropdown:hover.dropdown:after {
    background-color: #262a32;
    content: "";
    position: absolute;
    width: 100%;
    height: 20px;
    left: 0;
    border-bottom: 3px solid #84bc22;
    bottom: -10px;
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

.dropdown>.dropdown-toggle:active {
    pointer-events: none;
}

.dropdown-menu {
    border: none;
    background-color: #262a32;
    color: #ffffff;
    min-width: 123px;
    padding: 0;
    margin: 0;
}

.drop-down-list-h3 {
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 15px 0;
    margin-bottom: 5px;
}

.dropdown-item {
    font-size: 16px;
    line-height: 16px;
    text-transform: none;
    max-width: 100%;
    padding: 0;
}

.dropdown-img {
    width: 100%;
}

.dropdown-menu-container {
    width: 100vw;
    position: fixed;
    left: 0;
    top: 78px;
    background-color: #262a32;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px;
}

.dropdown-columns {
    display: flex;
    flex: 1 1 80%;
}

.dropdown-column {
    width: 25%;
    padding: 0 15px;
}

a, a:hover {
    text-decoration: none;
    color: inherit;
}

.nav-icon-img {
    padding: 10px;
}

.dropdown-list-item {
    color: #ffffff;
    width: 75%;
    padding: 10px 0;
}

.dropdown-list-item:hover {
    transition: 0.2s;
}

.dropdown-arrow {
    padding: 0 10px;
}

/* SERVICES */

.services-img {
    width: 59px;
    height: 67px;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px 0 10px;
}

.services-h2 {
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    padding: 10px 5px;
    margin: 0;
}

.services-p {
    color: #868380;
    font-size: 14px;
    line-height: 18px;
    text-align: justify-all;
    padding: 5px;
    margin: 0;
}

/*FOOTER*/

.footer-container {
    display: flex;
}

.footer-columns {
    width: 85%;
}

.footer-column {
    width: 17%;
    padding: 0 10px;
}

.footer-column-1 {
    width: 30%;
}

.social-column {
    width: 15%;
    padding: 0 10px;
    justify-content: flex-end;
}

.footer-h3 {
    color: #333333;
    font-size: 13px;
    font-weight: 900;
    text-transform: uppercase;
    margin: 10px 0;
}

.footer-list-item {
    padding: 7px 0;
}

.footer-list-item a {
    opacity: 0.7;
    font-size: 13px;
    line-height: 15px;
}

.info {
    color: #45413e;
    font-size: 13px;
    line-height: 18px;
}

.info_copyright {
    width: 39%;
    padding: 10px 0;
    margin-bottom: 10px;
}

.info_mailto, .info_callto {
    margin: 10px 0;
}

.social-icon-img {
    opacity: .3;
    padding: 10px;
}

/* MIDDLE PART */

.section-1 {
    margin: 0 30px;
    display: flex;
}

.section-1_carousel-slider {
    width: 75%;
}

.carousel-item {
    color: #ffffff;
    overflow: hidden;
    border-radius: 8px;
    height: 100%;
}

.carousel-indicators {
    align-items: center;
    bottom: 30px;
}

.carousel-indicators li {
    border-radius: 50%;
    width: 8px;
    height: 8px;
    background-color: #ffffff;
    opacity: 0.5;
    margin: 7px;
}

.carousel-indicators li.active {
    background-color: transparent;
    border: 3px solid #ffffff;
    border-radius: 50%;
    width: 8px;
    height: 8px;
}

.carousel-img {
    position: relative;
    background-color: #31383e;
}

.carousel-img-layer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 75px 60px 100px;
}

.carousel_h5 {
    font-size: 48px;
    line-height: 55px;
    font-weight: 900;
    width: 85%;
}

.carousel_p {
    color: #ffffff;
    font-size: 15px;
    line-height: 18px;
    padding-top: 50px;
    width: 55%;
}

.btn_view-more {
    width: 150px;
    height: 40px;
    border: 2px solid #ffffff;
    border-radius: 25px;
    color: #ffffff;
    text-transform: uppercase;
    line-height: 1;
}

.btn_view-more:hover, .btn_load-more:hover {
    background-color: #ffffff;
    color: #45413e;
}

.section-1_ad-container {
    margin-left: 30px;
}

.summer-sales_container {
    height: 334px;
    background-image: url("../../static/images/summerSales/Holidays.png");
    background-repeat: no-repeat;
    background-position: 0 100%;
    background-color: #84bc22;
    border: 1px solid #84bc22;
    color: #ffffff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.summer-sales {
    text-align: center;
    margin-bottom: 65px;
}
.summer-sales_h2 {
    font-size: 100px;
    font-weight: 900;
    padding: 10px;
    margin-top: 30px;
}

.summer-sales_h4 {
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

.follow-us_container {
    text-align: center;
    padding: 30px 30px 5px;
}

.follow-us_h5 {
    font-size: 18px;
    line-height: 18px;
    padding: 5px;
}

.follow-us_p {
    font-size: 13px;
    padding: 10px 5px 30px;
}

.btn_follow-us {
    width: 150px;
    height: 40px;
    border: 2px solid #3a5b96;
    border-radius: 25px;
    color: #3a5b96;
    text-transform: uppercase;
    line-height: 1;
}

.popular-items_h2 {
    color: #ffffff;
    font-size: 24px;
    font-weight: 900;
    position: relative;
    padding: 35px 25px;
}

.popular-items_h2:before,
.popular-items_h2:after {
    content: '';
    height: 2px;
    background-color: #ffffff;
    opacity: 0.1;
    display: block;
    position: absolute;
    top: 50%;
    width: 35vw;
}

.popular-items_h2:before {
    left: 16vw;
}

.popular-items_h2:after {
    right: 16vw;
}

.popular-item_inner-content {
    position: relative;
    height: 325px;
    margin: 0 10px;
    color: #262a32;
}

.product-img {
    width: 100%;
    height: 75%;
}

.popular-item-name {
    width: 100%;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    height: 100px;
    font-size: 16px;
    line-height: 18px;
    padding: 15px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    position: absolute;
    bottom: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.popular-product-item {
    width: 25%;
    position: relative;
    margin: 15px 0;
    display: flex;
    justify-content: center;
}

.product-item-hover {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 8px;
    background-color: #816fca;
    background-image: linear-gradient(to top, #1cc167 0%, #2ed3a2 100%);
    opacity: 0;
    width: 100%;
    height: 98.5%;
    padding: 20px;
    transition: opacity .3s;
}

.product-item-hover:hover {
    opacity: 0.9;
}

.btn_add, .btn_like {
    background-color: #ffffff;
    width: 91px;
    height: 91px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-item-hover-pink {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 8px;
    width: 100%;
    height: 99%;
    transition: opacity .3s;
    background-image: linear-gradient(to top, #675b99 0%, #dc5987 100%);
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 35px 30px;
}

.hover-pink-p {
    width: 75%;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    color: #ffffff;
    margin-bottom: 15px;
}

.hover-pink-message {
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 300;
}

.price {
    text-align: center;
    font-size: 15px;
    padding: 8px 0;
    margin: 0;
}

.buy_price {
    color: #24c36c;
    padding: 0 18px;
    line-height: 2;
}

.buy-now {
    width: 200px;
    height: 40px;
    border: 2px solid #e6e6e6;
    border-radius: 25px;
}

.btn_buy-now {
    text-transform: uppercase;
    text-align: center;
    color: #000000;
    font-size: 14px;
    border-left: 2px solid #e6e6e6;
    font-weight: 700;
    padding: 0 15px;
}

.btn_load-more {
    width: 260px;
    height: 40px;
    border: 2px solid #e8e2d6;
    border-radius: 25px;
    color: #ffffff;
    text-transform: uppercase;
    line-height: 1;
    margin: 25px;
    text-align: end;
    padding: 0 15px;
}

.spinner {
    margin: 0 25px;
}

.banner {
    /*width: 99%;*/
    background-image: url("../../static/images/banner/banner.png");
    /*background-repeat: no-repeat;*/
    color: #ffffff;
    height: 445px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*margin: 0 auto;*/
}

.banner-h1 {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 50px;
}

.banner-span {
    font-size: 15px;
    width: 30%;
    text-align: center;
}

.section-4_header {
    text-align: center;
}

.featured-products_h2 {
    color: #ffffff;
    font-size: 36px;
    font-weight: 900;
    line-height: 36px;
    padding: 10px;
    margin: 0;
}

.featured-products_h4 {
    color: #ffffff;
    font-size: 18px;
    padding: 10px;
    margin-bottom: 15px;
    position: relative;
}

.section-4_header-slashes {
    position: relative;
}

.header-slashes {
    color: #ffffff;
    font-size: 26px;
    font-weight: 900;
    position: relative;
}

.header-slashes:before,
.header-slashes:after {
    content: '';
    height: 2px;
    background-color: #ffffff;
    display: block;
    position: absolute;
    top: 50%;
    width: 15vw;
}

.header-slashes:before {
    left: 27vw;
}

.header-slashes:after {
    right: 27vw;
}

.carousel-control-prev, .carousel-control-next {
    position: absolute;
    top: 5px;
}

.carousel-control-prev {
    left: 18vw;
}

.carousel-control-next {
    right: 18vw;
}

.product-item {
    margin: 10px;
}

.product-item_inner-content {
    position: relative;
    height: 296px;
    width: 270px;
}


.product-name {
    width: 100%;
    border-top: 1px solid #ffffff;
    background-color: #ffffff;
    height: 98px;
    font-size: 16px;
    line-height: 18px;
    padding: 15px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    position: absolute;
    bottom: 10px;
}

.services-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.services-item {
    width: 33%;
}

.line {
    content: '';
    height: 1px;
    background-color: #e5e2df;
    display: block;
    width: 100%;
}

.like_indicator, .cart_indicator {
    position: relative;
    top: 20px;
    visibility: hidden;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 2px solid #84bc22;
    background-color: #ffffff;
    color: #84bc22;
    font-size: 10px;
    text-align: center;
    line-height: 1;
    padding: 1px;
}

.placeholder {
    position: absolute;
}

.details-header {
    margin-bottom: 40px;
}

.details_popular-items-h2 {
    color: #262a32;
    text-transform: uppercase;
    position: relative;
    font-weight: 900;
    font-size: 24px;
}

.details_popular-items-h2:before,
.details_popular-items-h2:after {
    content: '';
    height: 2px;
    background-color: #e5e2df;
    display: block;
    position: absolute;
    top: 50%;
    width: 32vw;
}

.details_popular-items-h2:before {
    left: -35vw;
}

.details_popular-items-h2:after {
    right: -35vw;
}

.details-header, .categories-header {
    background-color: #f1edea;
    color: #45413e;
    font-size: 48px;
    font-weight: 900;
    position: relative;
    text-align: center;
}

.details-header:before,
.details-header:after {
    content: '';
    height: 2px;
    background-color: #e5e2df;
    display: block;
    position: absolute;
    top: 50%;
    width: 17vw;
}

.details-header:before {
    left: -20vw;
}

.details-header:after {
    right: -20vw;
}

.details-container {
    display: flex;
    flex-direction: row;
    justify-self: center;
    width: 100%;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    margin: 0 auto;
}

.details-preview-container {
    display: flex;
    flex-basis: 60%;
    height: fit-content;
    width: fit-content;
    margin: 0 auto;
    justify-content: center;
}

.details-preview {
    width: 100%;
    max-width: 550px;
    padding: 25px 25px 35px;
}

.details-preview-imgs {
    align-self: center;
    justify-content: center;
    padding: 15px 0;
    margin: 10px 0;
}

.product-info{
    display: flex;
    max-width: 40%;
    padding: 25px 15px 35px;
}

.details-preview_small {
    width: 85px;
    height: 85px;
    margin: 0 0 15px;
    border: 1px solid #262a32;
    opacity: .6;
}

.preview_active {
    border: 1px solid #84bc22;
    opacity: 1;
}

.product-details {
    padding: 25px 35px 35px 20px;
}

.details-price {
    font-size: 48px;
    color: #45413e;
    font-weight: 800;
}

.product-controls {
    display: flex;
    margin-bottom: 20px;
}

.details-tab-container {
    margin-bottom: 40px;
}

.nav-tabs {
    border: none;
}

.nav-tabs>.nav-item {
    color: #e5e2df;
    padding: 20px 25px;
    margin: 0 25px;
    text-transform: unset;
    font-size: 24px;
    font-weight: 800;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.nav-tabs .nav-link.active {
    color: #ffffff;
    background-color: #262a32;
    border: none;
}

.nav-tabs .nav-link:hover {
    border: none;
}

.tab-pane {
    background-color: #262a32;
    padding: 50px 30px;
    display: flex;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

.details-p {
    width: 50%;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    padding: 0 30px;
}

.choose-color {
    width: 150px;
    height: 40px;
    border: 2px solid #e8e2d6;
    border-radius: 50px;
    padding: 5px;
    margin: 20px 0;
}

.gray-circle {
    width: 22px;
    height: 22px;
    border-radius: 50px;
    background-color: #585d61;
}

.numOf {
    width: 106px;
    height: 40px;
    border-radius: 50px;
    border: 2px solid #e8e2d6;
    margin-right: 20px;
}

.dec, .inc {
    border: none;
    background-color: transparent;
    font-size: 18px;
    color: #999999;
    font-weight: 900;
}

.quantity {
    border: none;
    background-color: transparent;
    width: 30px;
    line-height: 2;
    text-align: center;
    font-size: 15px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.btn_add-to-cart {
    width: 153px;
    height: 40px;
    background-color: #84bc22;
    border: 2px solid #e8e2d6;
    border-radius: 50px;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 14px;
}

.product-details-p {
    overflow: hidden;
    transition: height .3s;
    font-size: 16px;
    line-height: 24px;
}

.btn_read-more, .btn_read-less, .btn_hide-categories {
    border: none;
    background-color: transparent;
    font-size: 16px;
    color: #84bc22;
    padding: 0;
    margin: 15px 0;
}

.btn_hide-categories {
    justify-self: center;
}

.share-wrapper {
    font-size: 14px;
    color: #c6c6c6;
}


/* Category Landing Page */

.breadcrumb {
    justify-content: center;
}

.categories-container {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 30px;
}

.categories-wrapper {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding: 0 25px;
    margin: 0 auto;
}

.categories {
    width: 33%;
    padding: 10px;
    margin: 15px 0;
    display: flex;
    justify-content: flex-start;
}

.label {
    width: 20%;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    color: #45413e;
    padding: 5px;
    margin-right: 15px;
}

.selection {
    width: 80%;
    max-width: 225px;
    height: 35px;
    border-radius: 50px;
    border: 2px solid #a1a09e;
    padding: 0 15px;
    line-height: 2;
    align-items: center;
}

.colors {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    max-width: 225px;
}

.color {
    width: 14px;
    height: 14px;
    border-radius: 50px;
    margin: 5px;
    line-height: 1;
}

.color.active {
    width: 17px;
    height: 17px;
    border: 3px solid #45413e;

}

.color-1 {background-color: #ffffff;}
.color-2 {background-color: #43c0cf;}
.color-3 {background-color: #3d402f;}
.color-4 {background-color: #4aaf00;}
.color-5 {background-color: #315bbd;}
.color-6 {background-color: #ec6115;}
.color-7 {background-color: #dc041d;}
.color-8 {background-color: #efead7;}

.categories-header {
    margin-bottom: 40px;
}

.categories-header:before,
.categories-header:after {
    content: '';
    height: 2px;
    background-color: #ffffff;
    display: block;
    position: absolute;
    top: 50%;
    width: 33vw;
}

.categories-header:before {
    left: -36vw;
}

.categories-header:after {
    right: -36vw;
}

.categories_load-more {
    width: 150px;
    background-color: #84bc22;
    border: 2px solid #e8e2d6;
    font-size: 14px;
    text-align: center;
    margin: 55px 25px 20px;
}

.product-list {
    display: flex;
    justify-content: start;
    align-self: center;
    flex-wrap: wrap;
}

/*COOKIES*/

/* The Modal (background) */
.modal55 {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

/* Modal Content/Box */
.modal-content55 {
    border-radius: 8px;
    background-color: #ffffff;
    margin: 15% auto;
    padding: 20px;
    width: 80%;
    position: relative;
}

/* The Close Button */
.close55 {
    position: absolute;
    top: 5px;
    right: 15px;
    color: #262a32;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close55:hover,
.close55:focus {
    text-decoration: none;
    cursor: pointer;
}

.cookies-h4 {
    font-size: 16px;
    line-height: 24px;
    color: #84bc22;
    font-weight: 800;
    margin-bottom: 15px;
}

.cookies-text {
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    color: #45413e;
    width: 75%;
    margin-right: 110px;
}

.accept-cookies {
    width: 145px;
    height: 40px;
    border-radius: 50px;
    background-color: #84bc22;
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    border: none;
    align-self: flex-end;
}

/*NOT FOUND PAGE*/

.middle-part {
    background-color: #f1edea;
    padding: 40px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.breadcrumb {
    background-color: #f1edea;
    margin: 0;
}

.breadcrumb-item {
    color: #84bc22;
    font-size: 13px;
    font-weight: 400;
}

.header-404 {
    text-align: center;
    background-color: #f1edea;
    color: #45413e;
    font-size: 48px;
    font-weight: 900;
    position: relative;
}

.header-404:before,
.header-404:after {
    content: '';
    height: 2px;
    background-color: #e5e2df;
    display: block;
    position: absolute;
    top: 50%;
    width: 38vw;
}

.header-404:before {
    left: 0;
}

.header-404:after {
    right: 0;
}

.container-404 {
    width: 100%;
    display: flex;
}

.left-side {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 40%;
    padding-right: 65px;
}

.right-side {
    position: relative;
    width: 60%;
    padding-left: 35px;
}

.not-found_title {
    color: #84bc22;
    font-size: 113px;
    font-weight: 900;
    line-height: 60px;
}

.not-found_p {
    font-size: 14px;
    line-height: 23px;
    font-weight: 500;
    color: #555555;
}

.go-back-to-homepage {
    font-size: 15px;
    margin: 40px 0 60px;
    color: #84bc22;
}

.search_input {
    width: 100%;
    height: 36px;
    border: 2px solid #e8e2d6;
    border-radius: 25px;
    background-color: #ffffff;
    padding-left: 15px;
}

.search {
    position: absolute;
    right: 15px;
    bottom: 3px;
    border: none;
    background-color: #ffffff;
}

.background-404 {
    background-repeat: no-repeat;
    background-image: url(../../static/images/404/Exclamation_Mark.png);
    background-position: -8% 50%;
    background-color: #ffffff;
    padding: 70px;
    border-radius: 8px;
}

.not-found_h2 {
    color: #000000;
    font-size: 24px;
    font-weight: 900;
}

.mb-40 {
    margin-bottom: 40px;
}

/* POPUP MODAL */

.modal {
    width: 100vw;
    height: 100vh;
}

.modal-content {
    width: 100%;
    background-color: #ffffff;
    border-radius: 7px;
    padding: 48px 0;
    margin: 0;
}

.modal-header, .modal-footer {
    border: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.modal-title {
    color: #45413e;
    font-size: 30px;
    font-weight: 900;
}

.modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 40px 25px;
}

.md-form {
    width: 100%;
}

.md-form label {
    color: #45413e;
    font-size: 14px;
    font-weight: 600;
}

.form-control {
    width: 100%;
    height: 36px;
    border: 2px solid #d7d7d7;
    border-radius: 25px;
    padding: 0 0 0 15px;
}

.modal-footer button {
    width: 171px;
    height: 36px;
    border: 2px solid #84bc22;
    background-color: #84bc22;
    border-radius: 25px;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 14px;
}

.modal-footer>button:hover {
    border: 2px solid #84bc22;
    background-color: #ffffff;
    color: #84bc22;
}

.close {
    display: none;
}

.green-label {
    color: #84bc22;
    font-size: 12px;
    letter-spacing: 0.6px;
}

.password-container {
    position: relative;
}

.show-password {
    position: absolute;
    bottom: 6px;
    right: 12px;
    border: none;
    background-color: #ffffff;
}
