body {
    font-family: 'Lato', sans-serif !important;
    font-weight: 400;
    color: #45413e;
}

.section {
    padding: 30px 15px;
}

.align {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* NAVIGATION */

.desktop-header {
    background-color: #ffffff;
    z-index: 1;
    margin: 0 auto;
}

.navbar {
    padding: 0;
}

.nav-item {
    font-size: 14px;
    text-transform: uppercase;
    padding: 10px;
}

.nav-item-active, .dropdown:hover {
     background-color: #262a32;
     color: #ffffff;
    position: relative;
 }

.nav-item-active, .dropdown:hover.dropdown:after {
    background-color: #262a32;
    content: "";
    position: absolute;
    width: 100%;
    height: 20px;
    left: 0;
    border-bottom: 3px solid #84bc22;
    bottom: -10px;
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

.dropdown>.dropdown-toggle:active {
    pointer-events: none;
}

.dropdown-menu {
    border: none;
    background-color: #262a32;
    color: #ffffff;
    min-width: 123px;
    padding: 0;
    margin: 0;
}

.drop-down-list-h3 {
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 15px 0;
    margin-bottom: 5px;
}

.dropdown-item {
    font-size: 16px;
    line-height: 16px;
    text-transform: none;
    max-width: 100%;
    padding: 0;
}

.dropdown-img {
    width: 100%;
}

.services {
    width: 1200px;
    position: absolute;
    left: -245px;
    top: 10px;
    background-color: #262a32;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px;
}

.btn_menu {
    display: flex;
    justify-content: flex-end;
}

a, a:hover {
    text-decoration: none;
    color: inherit;
}

.nav-icon-img {
    padding: 10px;
}

.dropdown-list-item {
    color: #ffffff;
    width: 75%;
    padding: 10px 0;
}

.dropdown-list-item:hover {
    transition: 0.2s;
}

.footer-h3 {
    color: #333333;
    font-size: 13px;
    font-weight: 900;
    text-transform: uppercase;
    margin: 10px 0;
}

.footer-list-item {
    padding: 7px 0;
}

.footer-list-item a {
    opacity: 0.7;
    font-size: 13px;
    line-height: 15px;
}

.social-icon-img {
    opacity: .3;
    padding: 10px;
}

.dropdown-arrow {
    padding: 0 10px;
}

/* MIDDLE PART */

.carousel-item {
    color: #ffffff;
    overflow: hidden;
    border-radius: 8px;
    height: 100%;
}

.carousel-indicators {
    align-items: center;
    bottom: 30px;
}

.carousel-indicators li {
    border-radius: 50%;
    width: 8px;
    height: 8px;
    background-color: #ffffff;
    opacity: 0.5;
    margin: 7px;
}

.carousel-indicators li.active {
    background-color: transparent;
    border: 3px solid #ffffff;
    border-radius: 50%;
    width: 8px;
    height: 8px;
}

.carousel-img {
    position: relative;
    background-color: #31383e;
}

.carousel-img-layer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 75px 60px 100px;
}

.carousel_h5 {
    font-size: 48px;
    line-height: 55px;
    font-weight: 900;
    width: 85%;
}

.carousel_p {
    color: #ffffff;
    font-size: 15px;
    line-height: 18px;
    padding-top: 50px;
    width: 55%;
}

.btn_view-more {
    width: 150px;
    height: 40px;
    border: 2px solid #ffffff;
    border-radius: 25px;
    color: #ffffff;
    text-transform: uppercase;
    line-height: 1;
}

.btn_view-more:hover, .btn_load-more:hover {
    background-color: #ffffff;
    color: #45413e;
}

.summer-sales_container {
    height: 334px;
    background-image: url("../../static/images/summerSales/Holidays.png");
    background-repeat: no-repeat;
    background-position: 0 100%;
    background-color: #84bc22;
    border: 1px solid #84bc22;
    color: #ffffff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.summer-sales {
    text-align: center;
    margin-bottom: 65px;
}
.summer-sales_h2 {
    font-size: 100px;
    font-weight: 900;
    padding: 10px;
    margin-top: 30px;
}

.summer-sales_h4 {
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

.follow-us {
    text-align: center;
    padding: 30px 30px 5px;
}

.follow-us_h5 {
    font-size: 18px;
    line-height: 18px;
    padding: 5px;
}

.follow-us_p {
    font-size: 13px;
    padding: 10px 5px 30px;
}

.btn_follow-us {
    width: 150px;
    height: 40px;
    border: 2px solid #3a5b96;
    border-radius: 25px;
    color: #3a5b96;
    text-transform: uppercase;
    line-height: 1;
}

.popular-items_h2 {
    color: #ffffff;
    font-size: 24px;
    font-weight: 900;
    position: relative;
    padding: 35px 25px;
}

.popular-items_h2:before,
.popular-items_h2:after {
    content: '';
    height: 2px;
    background-color: #ffffff;
    opacity: 0.1;
    display: block;
    position: absolute;
    top: 50%;
    width: 28vw;
}

.popular-items_h2:before {
    left: 18vw;
}

.popular-items_h2:after {
    right: 18vw;
}

.popular-item_inner-content {
    position: relative;
    height: 325px;
    margin: 0 10px;
    color: #262a32;
}

.product-img {
    width: 100%;
    height: 75%;
}

.popular-item-name {
    border: 1px solid #ffffff;
    background-color: #ffffff;
    height: 100px;
    font-size: 16px;
    line-height: 18px;
    padding: 15px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    position: absolute;
    bottom: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.popular-product-item {
    width: 25%;
    position: relative;
    margin: 15px 0;
    display: flex;
    justify-content: center;
}

.product-item-hover {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 8px;
    background-color: #816fca;
    background-image: linear-gradient(to top, #1cc167 0%, #2ed3a2 100%);
    opacity: 0;
    width: 100%;
    height: 98.5%;
    padding: 20px;
    transition: opacity .3s;
}

.product-item-hover:hover {
    opacity: 0.9;
}

.btn_add, .btn_like {
    background-color: #ffffff;
    width: 91px;
    height: 91px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-item-hover-pink {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 8px;
    width: 100%;
    height: 99%;
    transition: opacity .3s;
    background-image: linear-gradient(to top, #675b99 0%, #dc5987 100%);
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 35px 30px;
}

.hover-pink-p {
    width: 75%;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    color: #ffffff;
    margin-bottom: 15px;
}

.hover-pink-message {
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 300;
}

.price {
    text-align: center;
    font-size: 15px;
    padding: 8px 0;
    margin: 0;
}

.buy_price {
    color: #24c36c;
}

.buy-now {
    width: 200px;
    height: 40px;
    border: 2px solid #e6e6e6;
    border-radius: 25px;
}

.btn_buy-now {
    text-transform: uppercase;
    text-align: center;
    color: #000000;
    font-size: 14px;
    border-left: 2px solid #e6e6e6;
    font-weight: 700;
}

.btn_load-more {
    width: 260px;
    height: 40px;
    border: 2px solid #e8e2d6;
    border-radius: 25px;
    color: #ffffff;
    text-transform: uppercase;
    line-height: 1;
    margin: 25px;
    text-align: end;
    padding: 0 15px;
}

.spinner {
    margin: 0 25px;
}

.banner {
    background-image: url("../../static/images/banner/banner.png");
    background-repeat: no-repeat;
    color: #ffffff;
    height: 445px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.banner-h1 {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 30px;
}

.banner-span {
    font-size: 15px;
    width: 30%;
    text-align: center;
}

.featured-products_h2 {
    color: #ffffff;
    font-size: 36px;
    font-weight: 900;
    line-height: 36px;
    padding: 10px;
    margin: 0;
}

.featured-products_h4 {
    color: #ffffff;
    font-size: 18px;
    padding: 10px;
    margin-bottom: 15px;
}

.header-slashes {
    color: #ffffff;
    font-size: 26px;
    font-weight: 900;
    position: relative;
}

.header-slashes:before,
.header-slashes:after {
    content: '';
    height: 2px;
    background-color: #ffffff;
    display: block;
    position: absolute;
    top: 50%;
    width: 15vw;
}

.header-slashes:before {
    left: -16vw;
}

.header-slashes:after {
    right: -16vw;
}

.carousel-control-prev, .carousel-control-next {
    position: absolute;

    top: 5px;
}

.carousel-control-prev {
    left: 16vw;
}

.carousel-control-next {
    right: 16vw;
}

.product-item {
    margin: 10px;
}

.product-item_inner-content {
    position: relative;
    height: 296px;
    width: 270px;
}


.product-name {
    border-top: 1px solid #ffffff;
    background-color: #ffffff;
    height: 98px;
    font-size: 16px;
    line-height: 18px;
    padding: 15px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    position: absolute;
    bottom: 10px;
}

.line {
    content: '';
    height: 2px;
    background-color: #e5e2df;
    display: block;
    width: 100%;
}

.like_indicator, .cart_indicator {
    position: relative;
    top: 10px;
    visibility: hidden;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid #84bc22;
    background-color: #ffffff;
    color: #84bc22;
    font-size: 12px;
    text-align: center;
    line-height: 1;
}

.placeholder {
    position: absolute;
}

.details-header {
    margin-bottom: 40px;
}

.details_popular-items-h2 {
    color: #262a32;
    text-transform: uppercase;
    position: relative;
    font-weight: 900;
    font-size: 24px;
}

.details_popular-items-h2:before,
.details_popular-items-h2:after {
    content: '';
    height: 2px;
    background-color: #e5e2df;
    display: block;
    position: absolute;
    top: 50%;
    width: 28vw;
}

.details_popular-items-h2:before {
    left: -30vw;
}

.details_popular-items-h2:after {
    right: -30vw;
}

.details-header, .categories-header {
    background-color: #f1edea;
    color: #45413e;
    font-size: 48px;
    font-weight: 900;
    position: relative;
    text-align: center;
}

.details-header:before,
.details-header:after {
    content: '';
    height: 2px;
    background-color: #e5e2df;
    display: block;
    position: absolute;
    top: 50%;
    width: 11vw;
}

.details-header:before {
    left: -14vw;
}

.details-header:after {
    right: -14vw;
}

.details-container {
    display: flex;
    justify-self: center;
    width: 100%;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    margin: 10px auto;
}

.product-info{
    padding: 25px 15px 35px;
}

.details-preview {
    padding: 25px 25px 35px;
}

.details-preview_small {
    width: 85px;
    height: 85px;
    margin: 0 0 15px;
    border: 1px solid #262a32;
    opacity: .6;
}

.preview_active {
    border: 1px solid #84bc22;
    opacity: 1;
}

.product-details {
    padding: 25px 35px 35px 20px;
}

.details-price {
    font-size: 48px;
    color: #45413e;
    font-weight: 800;
}

.details-tab-container {
    margin-bottom: 40px;
}

.nav-tabs>.nav-item {
    color: #e5e2df;
    padding: 20px 25px;
    text-transform: unset;
    font-size: 24px;
    font-weight: 800;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.nav-tabs .nav-link.active {
    color: #ffffff;
    background-color: #262a32;
    border: none;
}

.nav-tabs .nav-link:hover {
    border: none;
}

.tab-pane {
    background-color: #262a32;
    padding: 50px 30px;
    display: flex;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

.details-p {
    width: 50%;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    padding: 0 30px;
}

.choose-color {
    width: 150px;
    height: 40px;
    border: 2px solid #e8e2d6;
    border-radius: 50px;
    padding: 5px;
    margin: 20px 0;
}

.gray-circle {
    width: 22px;
    height: 22px;
    border-radius: 50px;
    background-color: #585d61;
    margin: 5px;
}

.numOf {
    width: 106px;
    height: 40px;
    border-radius: 50px;
    border: 2px solid #e8e2d6;
    margin-right: 20px;
}

.dec, .inc {
    border: none;
    background-color: transparent;
    font-size: 18px;
    color: #999999;
    font-weight: 900;
}

.quantity {
    border: none;
    background-color: transparent;
    width: 30px;
    line-height: 2;
    text-align: center;
    font-size: 15px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.btn_add-to-cart {
    width: 153px;
    height: 40px;
    background-color: #84bc22;
    border: 2px solid #e8e2d6;
    border-radius: 50px;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 14px;
}

.product-details-p {
    font-size: 16px;
    line-height: 24px;
}

.btn_read-more {
    border: none;
    background-color: transparent;
    font-size: 16px;
    color: #84bc22;
    padding: 0;
    margin: 15px 0;
}

.share-wrapper {
    font-size: 14px;
    color: #c6c6c6;
}


/* Category Landing Page */

.breadcrumb {
    justify-content: center;
}

.categories-wrapper {
    width: 97%;
    border-radius: 8px;
    padding: 25px 45px;
}

.categories {
    padding: 10px;
    margin: 15px 0;
    display: flex;
    justify-content: center;
}

.label {
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    color: #45413e;
    padding: 5px;
    margin-right: 15px;
}

.selection {
    max-width: 225px;
    height: 35px;
    border-radius: 50px;
    border: 2px solid #a1a09e;
    padding: 0 15px;
    line-height: 2;
    align-items: center;
}

.colors {
    max-width: 225px;
}

.color {
    width: 14px;
    height: 14px;
    border-radius: 50px;
    margin: 5px;
    line-height: 1;
}

.color.active {
    width: 17px;
    height: 17px;
    border: 3px solid #45413e;

}

.color-1 {background-color: #ffffff;}
.color-2 {background-color: #43c0cf;}
.color-3 {background-color: #3d402f;}
.color-4 {background-color: #4aaf00;}
.color-5 {background-color: #315bbd;}
.color-6 {background-color: #ec6115;}
.color-7 {background-color: #dc041d;}
.color-8 {background-color: #efead7;}

.categories-header:before,
.categories-header:after {
    content: '';
    height: 2px;
    background-color: #ffffff;
    display: block;
    position: absolute;
    top: 50%;
    width: 25vw;
}

.categories-header:before {
    left: -30vw;
}

.categories-header:after {
    right: -30vw;
}

.categories_load-more {
    width: 150px;
    background-color: #84bc22;
    border: 2px solid #e8e2d6;
    font-size: 14px;
    text-align: center;
    margin: 55px 25px 20px;
}

.product-list {
    display: flex;
    justify-content: start;
    align-self: center;
    flex-wrap: wrap;
}