@media (min-width: 321px) and (max-width: 768px) {

    .popular-product-item {
        width: 50%;
    }

    .categories {
        width: 50%;
        justify-content: space-between;
    }

    .label {
        font-size: 17px;
    }


    .selection {
        max-width: 210px;
        font-size: 17px;
    }

    .breadcrumb-item {
        font-size: 16px;
    }

    .categories-header {
        font-size: 42px;
    }

    .dropdown-img {
        width: 80%;
    }

    .popular-item-name {
        font-size: 18px;
    }

    .price {
        font-size: 17px;
    }

    /*Collapser*/

    .collapsed-title {
        padding: 5px 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .collapsed-content {
        padding: 5px 15px;
        transition: 0.3s;
    }

    .open .collapsed-arrow {
        transform: rotate(180deg);
        transition: transform 0.3s;
    }

    .open>.collapsed-content {
        display: block;
    }

    .closed .collapsed-arrow {
        transform: rotate(0);
        transition: transform 0.3s;
    }

    .closed>.collapsed-content {
        display: none;
    }

    /*Copyright*/

    .info_copyright {
        font-size: 16px;
        font-weight: 500;
        padding: 10px 30px;
    }

    .info_p, .info_mailto, .info_callto {
        font-size: 17px;
    }

    /*Footer*/

    .footer-h3 {
        font-size: 15px;
    }

    .footer-list-item a {
        font-size: 16px;
    }

    .modal-content {
        width: 475px;
    }

}