@media (max-width: 320px) {

    .section {
        padding: 15px;
    }

    /*HOME PAGE*/

    /*Header*/

    .mobile-header {
        position: relative;
    }

    .navbar-brand {
        margin: 0 auto;
    }

    .logo_img {
        width: 53px;
        height: 55px;
        padding: 0;
    }

    .burger {
        display: flex;
        flex-direction: column;
        align-self: center;
        position: absolute;
        top: 20px;
        left: 0;
    }

    .burger>span {
        background-color: #262a32;
        width: 19px;
        height: 2px;
        margin: 3px;
    }

    .burger-menu {
        position: absolute;
        width: 100%;
        height: calc(75vh);
        background-color: #262a32;
        color: #ffffff;
        top: 65px;
        left: -380px;
        transition: left .3s;
        z-index: 20;
        padding: 0 10px 25px;
        overflow-y: scroll;
    }

    .dropdown-img {
        width: 80%;
    }

    /*First Section Carousel*/

    .carousel-indicators {
        bottom: 15px;
    }

    .carousel-indicators li {
        margin: 5px;
    }

    .carousel-img-layer {
        padding: 30px 20px 90px;
    }

    .carousel_h5 {
        font-size: 25px;
        line-height: 35px;
        width: 100%;
    }

    .carousel_p {
        font-size: 14px;
        line-height: 18px;
        padding-top: 0;
        width: 100%;
    }

    /*Second Section Carousel*/

    .popular-items_h2 {
        font-size: 20px;
        padding: 15px 0;
    }

    .popular-items_h2:before,
    .popular-items_h2:after {
        width: 19vw;
    }

    .popular-items_h2:before {
        left: 46vw;
    }

    .popular-items_h2:after {
        right: 46vw;
    }

    .popular-item_inner-content {
        height: 425px;
        margin: 0 10px;
    }

    .product-img {
        height: 76%;
    }

    .popular-item-name {
        font-size: 16px;
        line-height: 18px;
        padding: 15px;
    }

    .popular-item-name h6 {
        padding: 5px 15px;
    }

    .popular-product-item {
        width: 100%;
    }

    .price {
        font-size: 16px;
        padding: 10px 0;
    }

    /*Third Section Banner*/

    .banner {
        background-size: 190%;
        background-position: 75% 50%;
        height: 175px;
        justify-content: start;
        padding: 25px 15px;
    }

    .banner-h1 {
        font-size: 29px;
    }

    .banner-span {
        font-size: 14px;
        width: 100%;
    }

    /*Fourth Section Services*/

    .services-item {
        justify-content: space-evenly;
    }

    .flex-basis {
        flex-basis: 50%;
    }

    .ordered {
        order: 1;
    }

    /*Footer*/

    .mobile-footer {
        margin-bottom: 55px;
    }
    /*Mobile Navigation*/

    .mobile-nav {
        background-color: #262a32;
        border-top: 1px solid #ffffff;
        position: fixed;
        bottom: 0;
        z-index: 20;
    }

    .dark_indicator {
        background-color: #262a32;
    }

    /*Collapser*/

    .collapsed-title {
        padding: 5px 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .collapsed-content {
        padding: 5px 15px;
        transition: 0.3s;
    }

    .open .collapsed-arrow {
        transform: rotate(180deg);
        transition: transform 0.3s;
    }

    .open>.collapsed-content {
        display: block;
    }

    .closed .collapsed-arrow {
        transform: rotate(0);
        transition: transform 0.3s;
    }

    .closed>.collapsed-content {
        display: none;
    }

    /*Copyright*/

    .info_copyright {
        font-size: 13px;
        font-weight: 500;
        padding: 10px 30px;
    }

    .info_p, .info_mailto, .info_callto {
        font-size: 14px;
    }

    /*CATEGORY LANDING PAGE*/

    .middle-part {
        padding: 0 5px;
    }

    .breadcrumb {
        margin: 15px 0;
    }

    .categories-header {
        font-size: 30px;
    }

    .categories-header:before,
    .categories-header:after {
        width: 20vw;
    }

    .categories-header:before {
        left: 43vw;
    }

    .categories-header:after {
        right: 43vw;
    }

    .categories-wrapper {
        width: 90%;
    }

    .categories {
        margin: 3px 0;
        padding: 10px 15px;
        justify-content: space-between;
    }

    .label {
        padding: 0;
        margin-right: 10px;
    }

    .selection {
        max-width: 185px;
        font-size: 14px;
    }

    .color {
        width: 13px;
        height: 13px;
    }

    .color.active {
        width: 15px;
        height: 15px;
    }

    .categories_load-more {
        margin: 5px 25px 25px;
    }
}